<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LaoLessons - Translation App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

        body {
            padding-top: 50px;
            padding-bottom: 20px;
            width: 100% !important;
        }

        .container-fluid {
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .container {
            width: 88% !important;
        }
    </style>


    <!-- Jquery library -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- bootstrap theme-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>


    <div class="container">
        {% block content %}
        {% endblock %}

        <hr>
        <footer>
            <p>&copy; LaoLessons 2020</p>
        </footer>
    </div>

</body>
</html>
