{% extends "base.html" %}

{% block content %}

<h3>Upload Image Containing Lao Script (i.e. ສະບາຍດີ) for Translation</h3>
<form method=post enctype=multipart/form-data>
  <input type="file" name=imgtext onchange="previewImage(event)">
  </br>
  <button type="submit" class="btn btn-primary btn-md">Translate</button>
  </br>
  </br>
  <img style="height:100px;display:none" id="selected-image"/>
</form>

<hr/>

<label>Extracted Text</label>
</br>
{{ocr_text}}
</br>
</br>
<label>Translated Text</label>
</br>
{{translated_text}}
</br>
</br>
<label>Image File</label>
</br>
{{file_name}}
</br>
<img src="data:image/png;base64,{{ file }}">

<script type="text/javascript">

  var previewImage = function(event) {
		var preview = document.getElementById('selected-image');
		preview.src = URL.createObjectURL(event.target.files[0]);
		preview.style.display = "block";
  };
</script>

{% endblock %}

